body {
  height: 100vh;
  width: 100vw;
  background: $white;
  font-family: $font-1;
  font-size: 14px;
  overflow: hidden;
  // transition-delay: 0.2s;
  transition: 1s;
  position: relative;

  &::after {
    transition-delay: 0.2s;
    transition: 1s;
  }

  &.right::after {
    content: "";
    background: $black;
    position: absolute;
    transform: rotate(1.5deg);
    top: -50px;
    left: -20px;
    height: 52vh;
    width: 150%;
    padding-top: 50px;
    z-index: -1;
  }

  &.left {
    background: $black;
  }
  &.left::after {
    content: "";
    background: $white;
    position: absolute;
    transform: rotate(1.5deg);
    top: -50px;
    left: -20px;
    height: 52vh;
    width: 150%;
    padding-top: 50px;
    z-index: -1;
  }

  &.left nav {

    a {
      right: 100%;
      color: $black;
    }

    li {
      span::after {
        content: "";
        border-color: $black;
      }
    }

    li:nth-child(n+4) a {
      color: $white;

      span::after {
        content: "";
        border-color: $white;
      }
    }
  }

  &.right nav {

    li a {
      color: $white;
    }

    li:nth-child(n+4) a {
      color: $black;

      span::after {
        content: "";
        border-color: $black;
      }
    }
  }
}

a {
  color: $white;
  text-decoration: none;
}

.mobile-img {
  display: none;
}

.mobile-nav {
  display: none;
}
