#homeSection {
  background-image: linear-gradient(#1B1C1E, rgba(0, 0, 0, 0.4)), url("../images/jpswag.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.hide-home {
    visibility: hidden;
    opacity: 0;
    // To work on the transition
    display: none;
  }

  .hero-text {
    text-align: center;
    color: $white;
  }
  .visit {
    position: fixed;
    bottom: 100px;
    cursor: pointer;

    span {
      opacity: 0;
      visibility: hidden;
      transition: 4s;
    }

    a {
      color: $white;
      position: relative;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 2px;

      &::after {
        content: "";
        background-image: url('../images/right-header-arrow.png');
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(90deg);
        position: absolute;
        height: 20px;
        width: 20px;
        top: 25px; right: 0; left: 0;
        margin: 0 auto;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: 3s;
      }
      &.fade-in::after {
        opacity: 1 !important;
        visibility: visible !important;
      }
    }
  }

  .my-name {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 10px;

    span {
      opacity: 0;
      visibility: hidden;
      transition: 4s;

      &.fade-in {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .my-job {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;

    span {
      opacity: 0;
      visibility: hidden;
      transition: 4s;
    }
  }
}
.fade-in {
  opacity: 1 !important;
  visibility: visible !important;
}
