// Fonts
$font-1: 'Lato', sans-serif;

// Colors
$black: #272626;
$black: #f7f7f7;

// media breakpoints
$desktop: "(min-width: 1200px)";
$ipad-pro: "(max-width: 1024px)";
$ipad: "(max-width: 768px)";
$phone-only: "(max-width: 550px)";
