html,
body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

canva {
    display: block;
}
#container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

@import './scss/main'