#aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;

  &.visible {
    visibility: visible;
    opacity: 1;
    position: relative;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    z-index: 100;
  }

  .about-up {
    color: $white;
  }
  .about-down {
    color: $black;
    margin-bottom: 35px;
  }

  p {
    font-size: 1.1rem;
    text-align: justify;
  }

  .about-icons {
    position: absolute;
    bottom: 20px;
    display: flex;
  }

  .single-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $black;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;

    &.github {
      background-color: transparent;

      img {
        width: 100%;
      }
    }

    img {
      width: 28px;
    }
  }
}
#aboutSection {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
