#contactSection {
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  input {
    background-color: transparent;
    border: 2px solid $black;
    padding: 20px 10px;
    outline: 0;
    font-size: 0.9rem;

    &::placeholder {
      color: $black;
      font-size: 0.9rem;
    }
  }

  .input {
    width: 40%;
  }

  .second-input {
    margin-top: 50px;
  }
  .contact-container {
    position: absolute;
    width: 60vw;
    height: 100vh;
    margin: 0 auto;
  }

  .contact-name,
  .contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .contact-up,
  .contact-down {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-up {

    input {
      width: 100%;
      color: $black;
    }
  }

  .contact-down {

    button {
      max-width: 150px;
      padding: 15px;
      background-color: transparent;
      text-transform: uppercase;
      border: 2px solid $white;
      outline: 0;
      font-size: 0.9rem;
      color: $white;
    }

    textarea {
      background-color: transparent;
      width: 100%;
      color: $white;
      border: 2px solid $white;
      height: 18vh;
      padding: 15px 10px;
      font-family: $font-1;
      margin-top: 50px;
      font-size: 0.9rem;
      outline: 0;
      resize: none;

      &::placeholder {
        color: $white;
        font-family: $font-1;
        font-size: 0.9rem;
      }
    }
  }
}
