// Colors
$black: #000;
$light-black: #151515;
$light-black-opacity: rgba($black, 0.3);
$white: #fff;
$light-white-opacity: rgba($white, 0.3);


// Media queries
$mobile: 767px;
$min-tablet: 768px;
$tablet: 1023px;
$min-desktop: 1024px;
